.contact-container{
    background:
    linear-gradient(to bottom right, transparent 100%, black 100%),
    linear-gradient(to top left, transparent 0%, black 100%),
    url('../image/contact-bg.jpg');

background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
width: 100% !important;
max-width: 100% !important;
background-size: cover;
height: 75vh;
opacity: 0.9 !important;
}
input,
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: none;
        border-bottom: 2px solid #e1e1e1;
        color: #a5bbd0;
        box-shadow: none;
        font-style: italic;
        touch-action: manipulation;
        outline: none;
    }

    input:focus,
    textarea:focus {
        border-bottom: 3px solid #6fbcfe;
        /* color: none; */
    }

    /* textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: none;
        border-bottom: 1px solid #e1e1e1;    
        box-shadow: none;
        color: #a5bbd0;

    } */

    input,
    .form-control {
        display: block;
        visibility: visible;
        width: 100%;
    }

    .forms {
        /* position: absolute; */
        /* top: 70 !important;SS */
        /* top: 50 !important; */
        /* margin-top: 1300px; */
        border-color: #a8bac4;
        /* margin-right: 100px !important; */
        /* left: 3%; */
        font-size: 14px;
    }

    .button3 {
        color: #fff;
        background-color: #4f9df7;
        background-image: linear-gradient(45deg, #4f9df7 0%, #1d78e2 100%);
        border: 3px solid rgba(255, 255, 255, 0.5);
        border-radius: 30px;
        padding: 12px 25px;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
        margin: 10px;
        width: 30%;
        box-shadow: 0 4px 15px rgba(79, 157, 247, 0.5);
    }
    
    .button3:hover {
        background-image: linear-gradient(45deg, #1d78e2 0%, #4f9df7 100%);
    color: #fff;
    border-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 6px 25px rgba(30, 120, 226, 0.8);
    transform: scale(1.05) translateY(-2px);
    }
    
    .button3:active {
        transform: scale(0.98);
        box-shadow: 0 4px 10px rgba(30, 120, 226, 0.6);
    }
    .contact-grid-2{
        background-color: #f5f5f5;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Moves shadow down */
        /* margin: 20px;
        padding: 20px; */
        
    }